@media screen and (max-width: 768px) {
    main {
        width: 80%;
    }

    h1 {
        font-size: 2em;
        display: block;
    }

    h1 .emoji {
        width: 30px;
        margin: 0;
    }

    .postits_box {
        width: 100%;
        margin: 10px 0 !important;
        min-height: 230px;
    }

    .postits_box--text {
        font-size: 1.6rem;
    }

    .postits_box--date {
        font-size: 1rem;
    }

    .emoji {
        width: 20px;
        margin-bottom: -5px;
    }
}